@import "../../styles/base.styl"

.vl-dropdown
    position absolute
    transition opacity 0.5s ease;
    background-color white
    z-index 1
    max-width 100%
    box-shadow $box-shadow-container
