@import "../../styles/base.styl"

.vl-tag
    display inline-block
    font-size $font-size-sm
    border 1px solid $color-border
    background-color #ddddde
    color $color-default
    padding 3px 7px
    border-radius 3px
    cursor default
    transition all .3s
    opacity 1
    &:hover
        opacity .8

for color in $colors
    .vl-tag-{color}
        color saturate(getColor(color),10)
        border-color  getColor(color,25)
        background-color getColor(color,38)

.vl-tag-hollow
    background-color $color-default
    color white

for color in $colors
    .vl-tag-hollow.vl-tag-{color}
        background-color getColor(color)
        border-color  getColor(color)
