@import "../../styles/base.styl"

.vl-container-grid
    display grid

for flow in row column
    .vl-container-grid-flow-{flow}
        grid-auto-flow flow
    .vl-container-grid-flow-{flow}-dense
        grid-auto-flow flow dense

for place in start end center stretch
    .vl-container-grid-place-items-{place}
        place-items place
    for columnPlace in start end center stretch
        .vl-container-grid-place-items-{place}-{columnPlace}
            place-items place columnPlace

for content in start end center stretch space-around space-between space-evenly
    .vl-container-grid-place-content-{content}
        place-content content
    for columnContent in start end center stretch space-around space-between space-evenly
        .vl-container-grid-place-content-{content}-{columnContent}
            place-content content columnContent
