@import "../../styles/base.styl"

.vl-container-grid
    display grid

for flow in row column
    .vl-container-grid-flow-{flow}
        grid-auto-flow flow
    .vl-container-grid-flow-{flow}-dense
        grid-auto-flow flow dense
