@import '../../styles/base.scss';

.vl-carousel-container {
    position: relative;
}

.vl-carousel-inner {
    overflow: hidden;
}

.vl-carousel-slider-group {
    position: relative;
}

.vl-carousel-slider {
    background-color: blue;
    //transition all .5s transform: translate(0, 0);
    position: relative;
    display: inline-block;
    color: white;
    text-align: center;
}

.vl-carousel-btn-position {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 0.3s;
}

.vl-carousel-prev,
.vl-carousel-next {
    background-color: transparent;
    border: 0;
    outline: none;
    width: 27px;
    height: 27px;
    border-radius: 50%;

    &:hover {
        background-color: #ffffff3b;
    }

    span {
        position: relative;
    }
}

.vl-carousel-prev {
    left: 1rem;

    span {
        right: 1px;
        top: 1.5px;
    }
}

.vl-carousel-next {
    right: 1rem;
    span {
        right: 1px;
        top: 1.5px;
    }
}

.vl-carousel-btn-active {
    box-shadow: 0 0 3px 1px rgba(195, 195, 195, 0.5);
}

.vl-carousel-controller {
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
}

.vl-carousel-controller-btn {
    cursor: pointer;
    border: 0;
    outline: 0;
    color: transparent;
    background-color: #d7d7d736;
    margin: 0.2rem;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    transition: all 1s;
    &.active {
        box-shadow: 0 0 3px 2px white;
        background-color: white;
        width: 13px;
        height: 12px;
    }
}
